body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("restback.jpeg");
    /* background: #f8c291;  */
}

.container {
    max-width: 100%;
    margin-top: 50px;
}

.form-body {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    margin-top: -25px;
    margin-left: 25px;
    margin-bottom: 25px;
}



.search-title {
    color: #e74c3c; /* Tomato */
    text-align: center;
    font-size: 24px;
}

.food-type,
.restaurant-location,
#search-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

#search-button {
    background-color: #2ecc71; /* Mint */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#search-button:hover {
    background-color: #27ae60; /* Darker Mint on hover */
}

#results-container {
    margin-top: 20px;
}

.card-img {
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.more-button {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    transition: 0.3s ease-in-out;
    margin-left: 10px;
}

.more-button:hover {
    background-color: #27ae60;
}